<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <div class="title">
        <h1 > WELCOME TO POSTLY</h1>

    </div>
    <div class="userform">
       
        <div class="signin">
            <h1> Sign in</h1>
            <form action="/signin" method="post">
                <input type="email" name="email" placeholder="Enter your email">
                <input type="password" name="password" placeholder="Enter your password">
                <input id="submit" type="submit" value="sign in">
            </form>
            <p> Not a member yet ? <a href="/register">register</a></p>
        </div>
    </div>

</body>

</html>